$gutter: 50px;

html, body {
  background: #555;
  font-family: sans-serif;
  margin: 0 25px;
  padding: 0;
  line-height: 1.4;
  font-size: 18px;
  @media (max-width: 600px) {
    margin: 0;
  }
}

body > main {
  max-width: 1000px;
  margin: 0 auto;
  background: black;
  color: white;
  padding: $gutter;
}

h2, h3, h4 {
  font-weight: 400;
  font-size: 40px;
}

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  img {
    max-width: 100%;
    margin: auto;
    margin-bottom: $gutter/2;
  }
}
